*.fastq.gz
bulkRNA/2107UNHS-0291/
bulkRNA/2107UNHS-0293/
bulkRNA/AN00000904/
bulkRNA/AN00000906/
bulkRNA/flat_dir/*.fastq.gz
HALO/Deconvolution_HALO_analysis/
HALO/Algorithm_Check_20220914/HALO_CSV/
HALO/Algorithm_Check_20220920/HALO_csv/
HALO/Algorithm_Check_20221020/HALO_CSV/
HALO/prelim/
HALO/Exclude/
HALO/Re-export/
HALO/Algorithm_Check_20221020/._.DS_Store
RNAscope_images/
